body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.celula {
    width: 150px;
    height: 150px;
    background-color: #e7caca;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    cursor: pointer;
    gap: 10px;
}

#reiniciar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}